{% extends 'Evalutionary_music_generation/base.html' %}


{% load crispy_forms_tags %}


{% block content %}

<div class="container-fluid mb-5 pb-5">
    <form action='{% url "midi-pair" %}' method='post'>
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-3"></div>
            <div class="col-2" style="color: white;">{{ form.n_melodies|as_crispy_field }}</div>
            <div class="col-2" style="color: white;">{{ form.n_melody_notes|as_crispy_field }}</div>
            <div class="col-1 pt-3 position-sticky">
                <button type="submit" class="btn btn-outline-light btn-lg">Generate</button>
            </div>
            <div class="col-1">
                <a href='{% url "manual_result" %}' class="btn btn-outline-secondary">Get result</a>
            </div>
            <div class="col-2"></div>
        </div>
    </form>
</div>


{% if melody_0_index %}
    <div class="container-fluid m-0 p-0">

        <div class="row align-items-center p-3">
            <div class="col-1"></div>
            <div class="col-4">
                <h4 class="text-light">Melody {{ melody_0_index }}</h4>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <h4 class="text-light">Melody {{ melody_1_index }}</h4>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row align-items-center p-3">
            <div class="col-1"></div>
            <div class="col-4">
                <audio id="audio1" controls style="width:30em;">
                    <source src="{{ mp3_file_url_0 }}" type="audio/mpeg">
                    Ваш браузер не поддерживает элемент audio.
                </audio>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <audio id="audio2" controls style="width:30em;">
                    <source src="{{ mp3_file_url_1 }}" type="audio/mpeg">
                    Ваш браузер не поддерживает элемент audio.
                </audio>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row align-items-center p-3">
            <div class="col-1"></div>
            <div class="col-4">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_melody" value="{{ melody_0_index }}">
                    <button type="submit" class="btn btn-outline-light w-25">Select</button>
                </form>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="selected_melody" value="{{ melody_1_index }}">
                    <button class="btn btn-outline-light w-25">Select</button>
                </form>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endif %}

{% endblock %}
